.main-header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
}

.add-restaurant-button {
  padding-left: 1.25rem;
}

@media screen and (min-width: 768px) {
  .add-restaurant-button {

  }
}
