.main-header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
}

.add-restaurant-button {
  padding-left: 1.25rem;
}

.add-restaurant-select {
  height: 2rem;
  width: 105px;
}

@media screen and (min-width: 768px) {
  .add-restaurant-button {
    width: 1rem;
  }
  .add-restaurant-select-container {
    margin-bottom: 0.25rem;
  }
  .add-restaurant-select {
    height: 2.25rem;
    width: 140px;
  }
}
